.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-sizing: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}

#gameContainer {
    font-family: "Permanent Maker", cursive;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}